.label {
    width:15px;
    height:15px;
    border-radius:50%;
    font-size:12px;
    color:#63A2C9;
    line-height:10px;
    text-align:center;
    background:rgba(255, 255, 255, 0.5);
}

.table td {
   text-align: center;   
}

.table td.sezione {
   color: #E66060;
   font-size: 16pt;
   font-weight: bolder;
   letter-spacing: 3px;
}

.table td.collegio {
   color: #63A2C9;
   font-size: 16pt;
   font-weight: bolder;
   letter-spacing: 3px;
}

.table th {
   text-align: center;   
}

.ion-woman {
   color: #E66060;
   font-size: 13pt; 
}

.ion-man {
   color: #63A2C9;
   font-size: 13pt;
}

.ion-android-people {
   color: #000000;
   font-size: 13pt; 
}

.ion-ios-flag {
   color: #000000;
   font-size: 13pt;  
}

.ion-ios-flag-outline {
   color: #E66060;
   font-size: 13pt; 
}

p.indirizzo {
   color: #63A2C9;
   font-weight: bolder;
   text-align: center;
   letter-spacing: 3px;
   font-size: 16pt; 
}

